<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yoursretront"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome_screen" />
        <activity android:name=".Buy" />
        <activity android:name=".Drinks.All_Drinks" />
        <activity android:name=".Veg.All_veg" />
        <activity android:name=".Nonveg.All_nonveg" />
        <activity android:name=".Tab_view_pager.resources.Main" />
        <activity android:name=".Uploadfiles" />
        <activity
            android:name=".Start_page"
            android:label="@string/title_activity_start_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register" />

        <activity android:name=".Car_T.Cart" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>